.carousel-inner img {
    height: 100%; width: 100%; display: block;
}
.icon-lg {
    font-size: 50px;
    padding: 0 25px;
    color: #269abc;
}
body {
    padding-top: 70px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -181px;
  /* Pad bottom by footer height */
  padding: 0 0 181px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.shadow-bot {
    -webkit-box-shadow: 0px 2px 8px #000000;
       -moz-box-shadow: 0px 2px 8px #000000;
            box-shadow: 0px 2px 8px #000000;
}
.shadow-top {
    -webkit-box-shadow: 0px -1px 8px #000000;
       -moz-box-shadow: 0px -1px 8px #000000;
            box-shadow: 0px -1px 8px #000000;
}